{% include 'overall_header.html' %}
{% INCLUDECSS '@david63_userdefaults/version.css' %}

<h1>{{ lang('USER_DEFAULTS') }}</h1>
<p>{{ lang('USER_DEFAULTS_EXPLAIN') }}</p>

<form id="userdefaults" method="post" action="{U_ACTION}">
	<span class="version_name">{{ lang('VERSION') }}{{ lang('COLON') }}</span><span class="version">{USER_DEFAULTS_VERSION}</span>

	<fieldset>
		<legend>{{ lang('GLOBAL_SETTINGS') }}</legend>

		<dl>
			<dt><label for="ud_allow_viewemail">{{ lang('USER_ALLOW_VIEWEMAIL') }}{{ lang('COLON') }}</label></dt>
			<dd><label><input type="radio" class="radio" name="ud_allow_viewemail" value="1" id="ud_allow_viewemail"{% if USER_ALLOW_VIEWEMAIL %} checked="checked"{% endif %}/> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="ud_allow_viewemail" value="0" {% if not USER_ALLOW_VIEWEMAIL %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
				<label for="ud_allow_viewemail">{{ lang('DEFAULT_YES') }}</label></dd>
		</dl>

		<dl>
			<dt><label for="ud_allow_massemail">{{ lang('USER_ALLOW_MASSEMAIL') }}{{ lang('COLON') }}</label></dt>
			<dd><label><input type="radio" class="radio" name="ud_allow_massemail" value="1" id="ud_allow_massemail"{% if USER_ALLOW_MASSEMAIL %} checked="checked"{% endif %}/> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="ud_allow_massemail" value="0" {% if not USER_ALLOW_MASSEMAIL %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
				<label for="ud_allow_massemail">{{ lang('DEFAULT_YES') }}</label></dd>
		</dl>

		<dl>
			<dt><label for="ud_allow_pm">{{ lang('USER_ALLOW_PM') }}{{ lang('COLON') }}</label></dt>
			<dd><label><input type="radio" class="radio" name="ud_allow_pm" value="1" id="ud_allow_pm"{% if USER_ALLOW_PM %} checked="checked"{% endif %}/> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="ud_allow_pm" value="0" {% if not USER_ALLOW_PM %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
				<label for="ud_allow_pm">{{ lang('DEFAULT_YES') }}</label></dd>
		</dl>

		<dl>
			<dt><label for="ud_allow_viewonline">{{ lang('USER_ALLOW_VIEWONLINE') }}{{ lang('COLON') }}</label></dt>
			<dd><label><input type="radio" class="radio" name="ud_allow_viewonline" value="1" id="ud_allow_viewonline"{% if USER_ALLOW_VIEWONLINE %} checked="checked"{% endif %}/> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="ud_allow_viewonline" value="0" {% if not USER_ALLOW_VIEWONLINE %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
				<label for="ud_allow_viewonline">{{ lang('DEFAULT_NO') }}</label></dd>
		</dl>

		<dl>
			<dt><label for="ud_notify_pm">{{ lang('USER_NOTIFY_PM') }}{{ lang('COLON') }}</label></dt>
			<dd><label><input type="radio" class="radio" name="ud_notify_pm" value="1" id="ud_notify_pm"{% if USER_NOTIFY_PM %} checked="checked"{% endif %}/> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="ud_notify_pm" value="0" {% if not USER_NOTIFY_PM %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
				<label for="ud_notify_pm">{{ lang('DEFAULT_YES') }}</label></dd>
		</dl>

		<dl>
			<dt><label for="date_format">{{ lang('DATE_FORMAT') }}{{ lang('COLON') }}</label></dt>
			<dd><label>{USER_DATE_FORMAT}</label>
			<label for="ud_date_format">{DEFAULT_DATE_FORMAT}</label></dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend>{{ lang('POSTING_SETTINGS') }}</legend>

		<dl>
			<dt><label for="bbcode">{{ lang('DEFAULT_BBCODE') }}{{ lang('COLON') }}</label></dt>
			<dd><label for="bbcode1"><input type="radio" name="ud_bbcode" id="bbcode1" value="1"{% if S_BBCODE %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label for="bbcode0"><input type="radio" name="ud_bbcode" id="bbcode0" value="0"{% if not S_BBCODE %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
				<label for="ud_bbcode">{{ lang('DEFAULT_YES') }}</label></dd>
		</dl>

		<dl>
			<dt><label for="smilies">{{ lang('DEFAULT_SMILIES') }}{{ lang('COLON') }}</label></dt>
			<dd><label for="smilies1"><input type="radio" name="ud_smilies" id="smilies1" value="1"{% if S_SMILIES %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label for="smilies0"><input type="radio" name="ud_smilies" id="smilies0" value="0"{% if not S_SMILIES %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
				<label for="ud_smilies">{{ lang('DEFAULT_YES') }}</label></dd>
		</dl>

		<dl>
			<dt><label for="sig">{{ lang('DEFAULT_ADD_SIG') }}{{ lang('COLON') }}</label></dt>
			<dd><label for="sig1"><input type="radio" name="ud_sig" id="sig1" value="1"{% if S_SIG %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label for="sig0"><input type="radio" name="ud_sig" id="sig0" value="0"{% if not S_SIG %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
				<label for="ud_sig">{{ lang('DEFAULT_YES') }}</label></dd>
		</dl>

		<dl>
			<dt><label for="ud_notify">{{ lang('USER_NOTIFY') }}{{ lang('COLON') }}</label></dt>
			<dd><label><input type="radio" class="radio" name="ud_notify" value="1" id="ud_notify"{% if USER_NOTIFY %} checked="checked"{% endif %}/> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="ud_notify" value="0" {% if not USER_NOTIFY %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
				<label for="ud_notify">{{ lang('DEFAULT_NO') }}</label></dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend>{{ lang('DISPLAY_SETTINGS') }}</legend>

		<dl>
			<dt><label for="images">{{ lang('VIEW_IMAGES') }}{{ lang('COLON') }}</label></dt>
			<dd><label for="images1"><input type="radio" name="ud_images" id="images1" value="1"{% if S_IMAGES %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label for="images0"><input type="radio" name="ud_images" id="images0" value="0"{% if not S_IMAGES %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
				<label for="ud_images">{{ lang('DEFAULT_YES') }}</label></dd>
		</dl>

		<dl>
			<dt><label for="flash">{{ lang('VIEW_FLASH') }}{{ lang('COLON') }}</label></dt>
			<dd><label for="flash1"><input type="radio" name="ud_flash" id="flash1" value="1"{% if S_FLASH %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label for="flash0"><input type="radio" name="ud_flash" id="flash0" value="0"{% if not S_FLASH %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
				<label for="ud_flash">{{ lang('DEFAULT_YES') }}</label></dd>
		</dl>

		<dl>
			<dt><label for="smilies">{{ lang('VIEW_SMILIES') }}{{ lang('COLON') }}</label></dt>
			<dd><label for="smilies1"><input type="radio" name="ud1_smilies" id="smilies1" value="1"{% if S_VSMILIES %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label for="smilies0"><input type="radio" name="ud1_smilies" id="smilies0" value="0"{% if not S_VSMILIES %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
				<label for="ud1_smilies">{{ lang('DEFAULT_YES') }}</label></dd>
		</dl>

		<dl>
			<dt><label for="sigs">{{ lang('VIEW_SIGS') }}{{ lang('COLON') }}</label></dt>
			<dd><label for="sigs1"><input type="radio" name="ud_sigs" id="sigs1" value="1"{% if S_SIGS %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label for="sigs0"><input type="radio" name="ud_sigs" id="sigs0" value="0"{% if not S_SIGS %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
				<label for="ud_sigs">{{ lang('DEFAULT_YES') }}</label></dd>
		</dl>

		<dl>
			<dt><label for="avatars">{{ lang('VIEW_AVATARS') }}{{ lang('COLON') }}</label></dt>
			<dd><label for="avatars1"><input type="radio" name="ud_avatars" id="avatars1" value="1"{% if S_AVATARS %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label for="avatars0"><input type="radio" name="ud_avatars" id="avatars0" value="0"{% if not S_AVATARS %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
				<label for="ud_avatars">{{ lang('DEFAULT_YES') }}</label></dd>
		</dl>

		<dl>
			<dt><label for="wordcensor">{{ lang('DISABLE_CENSORS') }}{{ lang('COLON') }}</label></dt>
			<dd><label for="wordcensor1"><input type="radio" name="ud_wordcensor" id="wordcensor1" value="1"{% if S_DISABLE_CENSORS %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label for="wordcensor0"><input type="radio" name="ud_wordcensor" id="wordcensor0" value="0"{% if not S_DISABLE_CENSORS %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
				<label for="ud_wordcensor">{{ lang('DEFAULT_YES') }}</label></dd>
		</dl>

		<hr />

		<dl>
			<dt><label for="topic_st">{{ lang('VIEW_TOPICS_DAYS') }}{{ lang('COLON') }}</label></dt>
			<dd>{S_TOPIC_SORT_DAYS}
			<label for="ud_topic_st">&nbsp;&nbsp;&nbsp;&nbsp;{{ lang('DEFAULT_ALL_TOPICS') }}</label></dd>
		</dl>

		<dl>
			<dt><label for="topic_sk">{{ lang('VIEW_TOPICS_KEY') }}{{ lang('COLON') }}</label></dt>
			<dd>{S_TOPIC_SORT_KEY}
			<label for="ud_topic_sk">&nbsp;&nbsp;&nbsp;&nbsp;{{ lang('DEFAULT_POST_TIME') }}</label></dd>
		</dl>

		<dl>
			<dt><label for="topic_sd">{{ lang('VIEW_TOPICS_DIR') }}{{ lang('COLON') }}</label></dt>
			<dd>{S_TOPIC_SORT_DIR}
			<label for="ud_topic_sd">&nbsp;{{ lang('DEFAULT_DESC') }}</label></dd>
		</dl>

		<hr />

		<dl>
			<dt><label for="post_st">{{ lang('VIEW_POSTS_DAYS') }}{{ lang('COLON') }}</label></dt>
			<dd>{S_POST_SORT_DAYS}
			<label for="ud_post_st">&nbsp;&nbsp;&nbsp;&nbsp;{{ lang('DEFAULT_ALL_POSTS') }}</label></dd>
		</dl>

		<dl>
			<dt><label for="post_sk">{{ lang('VIEW_POSTS_KEY') }}{{ lang('COLON') }}</label></dt>
			<dd>{S_POST_SORT_KEY}
			<label for="ud_post_sk">&nbsp;&nbsp;&nbsp;&nbsp;{{ lang('DEFAULT_POST_TIME') }}</label></dd>
		</dl>

		<dl>
			<dt><label for="post_sd">{{ lang('VIEW_POSTS_DIR') }}{{ lang('COLON') }}</label></dt>
			<dd>{S_POST_SORT_DIR}
			<label for="ud_post_sd">&nbsp;{{ lang('DEFAULT_ASC') }}</label></dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend>{{ lang('POSTING_NOTIFICATIONS') }}</legend>

		<dl>
			<dt><label for="moderation_queue">{{ lang('APPROVE_NOTIFICATION') }}{{ lang('COLON') }}</label></dt>
			<dd><label for="ud_moderation_queue0"><input type="radio" name="ud_moderation_queue" id="ud_moderation_queue0" value="0"{% if not NOTIFY_MODERATION_QUEUE %} checked="checked"{% endif %} /> {{ lang('NOTIFICATION') }}</label>
				<label for="ud_moderation_queue1"><input type="radio" name="ud_moderation_queue" id="ud_moderation_queue1" value="1"{% if NOTIFY_MODERATION_QUEUE %} checked="checked"{% endif %} /> {{ lang('EMAIL') }}</label>
				<label for="ud_moderation_queue">{{ lang('DEFAULT_NOTIFICATION') }}</label>
			</dd>
		</dl>

		<dl>
			<dt><label for="type_bookmark">{{ lang('REPLY_BOOKMARK_TOPIC') }}{{ lang('COLON') }}</label></dt>
			<dd><label for="ud_type_bookmark0"><input type="radio" name="ud_type_bookmark" id="ud_type_bookmark0" value="0"{% if not NOTIFY_BOOKMARK %} checked="checked"{% endif %} /> {{ lang('NOTIFICATION') }}</label>
				<label for="ud_type_bookmark1"><input type="radio" name="ud_type_bookmark" id="ud_type_bookmark1" value="1"{% if NOTIFY_BOOKMARK %} checked="checked"{% endif %} /> {{ lang('EMAIL') }}</label>
				<label for="ud_type_bookmark">{{ lang('DEFAULT_NOTIFICATION') }}</label>
			</dd>
		</dl>

		<dl>
			<dt><label for="type_post">{{ lang('REPLY_SUBSCRIBED_TOPIC') }}{{ lang('COLON') }}</label></dt>
			<dd><label for="ud_type_post0"><input type="radio" name="ud_type_post" id="ud_type_post0" value="0"{% if not NOTIFY_SUBSCRIBED %} checked="checked"{% endif %} /> {{ lang('NOTIFICATION') }}</label>
				<label for="ud_type_post1"><input type="radio" name="ud_type_post" id="ud_type_post1" value="1"{% if NOTIFY_SUBSCRIBED %} checked="checked"{% endif %} /> {{ lang('EMAIL') }}</label>
				<label for="ud_type_post">{{ lang('DEFAULT_EMAIL') }}</label>
			</dd>
		</dl>

		<dl>
			<dt><label for="type_quote">{{ lang('QUOTE_POST') }}{{ lang('COLON') }}</label></dt>
			<dd><label for="ud_type_quote0"><input type="radio" name="ud_type_quote" id="ud_type_quote0" value="0"{% if not NOTIFY_QUOTE %} checked="checked"{% endif %} /> {{ lang('NOTIFICATION') }}</label>
				<label for="ud_type_quote1"><input type="radio" name="ud_type_quote" id="ud_type_quote1" value="1"{% if NOTIFY_QUOTE %} checked="checked"{% endif %} /> {{ lang('EMAIL') }}</label>
				<label for="ud_type_quote">{{ lang('DEFAULT_NOTIFICATION') }}</label>
			</dd>
		</dl>

		<dl>
			<dt><label for="type_topic">{{ lang('CREATE_SUBSCRIBED_TOPIC') }}{{ lang('COLON') }}</label></dt>
			<dd><label for="ud_type_topic0"><input type="radio" name="ud_type_topic" id="ud_type_topic0" value="0"{% if not NOTIFY_TOPIC %} checked="checked"{% endif %} /> {{ lang('NOTIFICATION') }}</label>
				<label for="ud_type_topic1"><input type="radio" name="ud_type_topic" id="ud_type_topic1" value="1"{% if NOTIFY_TOPIC %} checked="checked"{% endif %} /> {{ lang('EMAIL') }}</label>
				<label for="ud_type_topic">{{ lang('DEFAULT_EMAIL') }}</label>
			</dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend>{{ lang('MODERATOR_NOTIFICATIONS') }}</legend>

		<dl>
			<dt><label for="type_needs_approval">{{ lang('MODERATOR_APPROVAL') }}{{ lang('COLON') }}</label></dt>
			<dd><label for="ud_type_needs_approval0"><input type="radio" name="ud_type_needs_approval" id="ud_type_needs_approval0" value="0"{% if not NOTIFY_MODERATOR_APPROVAL %} checked="checked"{% endif %} /> {{ lang('NOTIFICATION') }}</label>
				<label for="ud_type_needs_approval1"><input type="radio" name="ud_type_needs_approval" id="ud_type_needs_approval1" value="1"{% if NOTIFY_MODERATOR_APPROVAL %} checked="checked"{% endif %} /> {{ lang('EMAIL') }}</label>
				<label for="ud_type_needs_approval">{{ lang('DEFAULT_NOTIFICATION') }}</label>
			</dd>
		</dl>

		<dl>
			<dt><label for="type_report">{{ lang('MODERATOR_REPORT') }}{{ lang('COLON') }}</label></dt>
			<dd><label for="ud_type_report0"><input type="radio" name="ud_type_report" id="ud_type_report0" value="0"{% if not NOTIFY_REPORT %} checked="checked"{% endif %} /> {{ lang('NOTIFICATION') }}</label>
				<label for="ud_type_report1"><input type="radio" name="ud_type_report" id="ud_type_report1" value="1"{% if NOTIFY_REPORT %} checked="checked"{% endif %} /> {{ lang('EMAIL') }}</label>
				<label for="ud_type_report">{{ lang('DEFAULT_NOTIFICATION') }}</label>
			</dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend>{{ lang('MISC_NOTIFICATIONS') }}</legend>

		<dl>
			<dt><label for="type_group_request">{{ lang('REQUEST_GROUP') }}{{ lang('COLON') }}</label></dt>
			<dd><label for="ud_type_group0"><input type="radio" name="ud_type_group" id="ud_type_group0" value="0"{% if not NOTIFY_GROUP %} checked="checked"{% endif %} /> {{ lang('NOTIFICATION') }}</label>
				<label for="ud_type_group1"><input type="radio" name="ud_type_group" id="ud_type_group1" value="1"{% if NOTIFY_GROUP %} checked="checked"{% endif %} /> {{ lang('EMAIL') }}</label>
				<label for="ud_type_group_request">{{ lang('DEFAULT_NOTIFICATION') }}</label>
			</dd>
		</dl>

		<dl>
			<dt><label for="type_pm">{{ lang('SEND_PM') }}{{ lang('COLON') }}</label></dt>
			<dd><label for="ud_type_pm0"><input type="radio" name="ud_type_pm" id="ud_type_pm0" value="0"{% if not NOTIFY_PM %} checked="checked"{% endif %} /> {{ lang('NOTIFICATION') }}</label>
				<label for="ud_type_pm1"><input type="radio" name="ud_type_pm" id="ud_type_pm1" value="1"{% if NOTIFY_PM %} checked="checked"{% endif %} /> {{ lang('EMAIL') }}</label>
				<label for="ud_type_pm">{{ lang('DEFAULT_NOTIFICATION') }}</label>
			</dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend>{{ lang('ACP_SUBMIT_CHANGES') }}</legend>
		<p class="submit-buttons">
			<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
			<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
		</p>
		{S_FORM_TOKEN}
	</fieldset>
</form>

{% include 'overall_footer.html' %}
